
<h1> Welcome to your Home Page </h1>

<br>

<button onclick="displayCreateForm()">Add A Routine</button>
<br>
<br>
<form id="createroutineform" onsubmit="createRoutine(); return false" style="display: none">
            <label>Name:</label>
            <input type="text" id="name">
            <br>
            <input type="submit" value="Submit">
            <br>
            <br>
</form>

<button onclick=getRoutines()>See All Routines</button>

<br>
<br>


<% if current_user.routines.empty? %>

There are no routines, please add a new machine via the "Add Routine button".

<%else%>

    <% current_user.routines.each do |x| %>
    Routine Name: <%=link_to x.name, user_routine_path(current_user, x) %><br>
    (<%= link_to "Delete Routine", routine_path(x), :method => :delete %>)
    <br>
    <br>
    
    <% end %>
    
<%end%>

