
<h1> Welcome to your Home Page </h1>

<br>

<button onclick="displayCreateForm()">Add A Routine</button>
<br>
<br>
<form id="createroutineform" onsubmit="createRoutine();" style="display: none">
            <label>Name:</label>
            <input type="text" id="name">
            <br>
            <input type="submit" value="Submit" onClick="window.location.reload(true);">
            <br>
            <br>
</form>

<button onclick=getRoutines()>See All Routines</button>

<br>
<br>


<% if current_user.routines.empty? %>

There are no routines, please add a new machine via the "Add Routine button".

<%end%>

